@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
body {
	color: #192f60;
}
.hero {
	width: 100%;
	height: 450px;
	background: linear-gradient(to bottom, rgba(157, 14, 14, 0), #4f0707),
		url('../images/foodWallpaper.png');
	background-position: center;
	background-size: cover;
	position: relative;
}

.hero-center b {
	display: inline-block;
	font-size: 46px;
	line-height: 70px;
	text-align: center;
	color: #ff0000;
	background-color: white;
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

.hero-center {
	padding-top: 120px;
	text-align: center;
	color: white;
}

.hero-center h2 {
	margin-top: 50px;
	font-size: 32px;
}

.hero-center form {
	margin-top: 50px;
}

.hero-center input {
	width: 350px;
	height: 45px;
	font-size: 18px;
	padding-left: 40px;
	margin-left: 10px;
	border: none;
}

.hero-center select {
	width: 200px;
	height: 45px;
	font-size: 18px;
	padding-left: 10px;
	border: none;
}

.search {
	display: inline-block;
	position: relative;
}

.fa-search {
	position: absolute;
	color: black;
	opacity: 0.7;
	top: 15px;
	left: 20px;
}

.card-container {
	padding: 40px 0px;
}

.card-title {
	text-align: center;
}

.card-title h2 {
	font-size: 30px;
	font-weight: 600;
}

.card-title h3 {
	margin-top: 15px;
	font-size: 20px;
	font-weight: 500;
}

/* .card-body {
	margin: 30px 55px;
} */

.card {
	display: inline-block;
	/* margin: 20px;
	max-width: 370px; */
	height: 150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first-card {
	display: inline-block;
	width: 50%;
	height: 100%;
}

.first-card img {
	width: 100%;
	height: 100%;
}

.second-card {
	float: right;
	width: 50%;
	height: 100%;
}

.second-card > h4 {
	margin-top: 30px;
	padding: 0 20px;
	margin-bottom: 10px;
}

.second-card > p {
	margin-top: 10px;
	padding: 0 20px;
}

/*food details*/
header {
	background-color: #ce0505;
	height: 80px;
	position: relative;
}

header::after {
	clear: both;
}

.header-logo {
	/* display: inline-block; */
	position: absolute;
	top: 14px;
	left: 7%;
	font-size: 32px;
	line-height: 52px;
	text-align: center;
	color: #ff0000;
	background-color: white;
	height: 52px;
	width: 52px;
	border-radius: 50%;
}

nav ul {
	float: right;
	margin-right: 7%;
}

nav li {
	list-style: none;
	display: inline;
	line-height: 80px;
	font-size: 16px;
}

nav li a {
	font-weight: 500;
	text-decoration: none;
	color: white;
}

nav li a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.create {
	margin-left: 15px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid white;
}

.create:hover {
	color: red;
	background-color: white;
}

main {
	max-width: 1200px;
	margin: auto;
}

.img-container {
	position: relative;
	margin: 20px 0;
	height: 350px;
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-header h2 {
	margin: 30px 0 30px 3%;
	font-size: 28px;
	font-weight: 600;
}
.img-gallery {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 10px;
	opacity: 0.8;
	background-color: white;
	color: #192f60;
}
/* .tabs {
	position: relative;
	clear: both;
}

.tabs .tab {
	float: left;
	margin-right: 0px;
}

.tabs .tab a {
	color: black;
	position: relative;
	display: inline-block;
	text-decoration: none;
	z-index: 2;
	font-size: 18px;
	font-weight: 600;
	padding: 20px;
}

.content {
	position: absolute;
	background-color: white;
	width: 100%;
	height: 300px;
	left: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding: 20px;
}

.content h3 {
	margin: 20px 0;
}

.content h4 {
	margin: 15px 0;
}

.tabs .tab:nth-of-type(1) .content {
	z-index: 1;
}

.tabs a:active {
	border-bottom: 1px solid orangered;
}

.tab:target a {
	font-weight: bold;
	border-bottom: 1px solid orangered;
}

.tab:target .content {
	z-index: 1;
} */

/*tabs radio*/
.tabs {
	position: relative;
	clear: both;
}

.tabs .tab {
	float: left;
}

.tabs .tab .content {
	display: none;
	position: absolute;
	background-color: white;
	left: 0px;
	width: 100%;
	padding: 20px 20px 40px 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.checkboxtab {
	display: none;
}

.tab label {
	/* margin-right: 10px; */
	color: black;
	/* position: relative; 
	this is only for z-index*/
	display: inline-block;
	font-size: 19px;
	font-weight: 600;
	padding: 20px;
}

.checkboxtab:checked ~ label {
	font-weight: bold;
	border-bottom: 1px solid orangered;
	/* z-index: 1; */
}

.checkboxtab:checked ~ .content {
	display: block;
}

.content h3 {
	margin: 30px 0;
}
.content p {
	margin-bottom: 50px;
}

.content h4 {
	font-weight: bold;
	margin: 20px 0;
}
.contact-number p {
	color: #f67082;
}
.address h2 {
	margin: 30px 0;
	font-weight: 900;
	font-size: 18px;
}
/*row*/
.row {
	max-width: 1200px;
	margin: 0 auto;
}

.row::after {
	content: '';
	display: table;
	clear: both;
}

.col-1-of-3 {
	float: left;
	width: calc((100% - 120px) / 3);
	margin: 0px 20px 20px 20px;
}

/*responsive*/
@media only screen and (max-width: 600px) {
	.hero-center input {
		margin-top: 20px;
		width: 90%;
		padding-left: 40px;
		margin-left: 0;
	}

	.search {
		width: 100%;
	}

	.fa-search {
		top: 35px;
		left: 30px;
	}

	.hero-center {
		padding-top: 40px;
	}

	.hero-center h2 {
		margin-top: 20px;
	}

	.hero-center select {
		width: 90%;
	}

	.col-1-of-3 {
		width: calc((100% - 30px) / 1) !important;
		margin: 0px 15px 20px 15px;
	}

	header {
		height: 60px;
	}

	.header-logo {
		/* display: inline-block; */
		line-height: 40px;
		height: 40px;
		width: 40px;
		top: 10px;
	}

	nav li {
		line-height: 60px;
		font-size: 15px;
	}

	.create {
		padding: 6px;
	}
}

@media only screen and (max-width: 900px) {
	.col-1-of-3 {
		width: calc((100% - 80px) / 2);
	}
}
